.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
    padding: 20px;
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
    margin: 30px;
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border: 5px solid black;
  }

  /* Exercicio - Para Fixar - 2 */

  .super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 130px;
    position: absolute;
    top: 380px;
    left: 40px;
  }
  
  .baloon {
    width: 300px;
    position: absolute;
    left: 250px;
    top: 150px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 270px;
    top: 190px;
    z-index: 2;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 500px;
  }

    /* Exercicio - Para Fixar - 3 */
    h1, p {
        text-align: center;
    }

    ol, ul {
        list-style: none;
    }

    li {
        text-align: center;
    }

    li:hover {
        background-color: aquamarine;
        font-size: 1.5em;
    }

    li:active {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

/* Exercicio - Para Fixar - 3.2 */
div:hover {
    border: 2px solid rebeccapurple;
}

h3 {
    font-style: italic;
}

#color-1 {
    background-color: red;
}

#color-2 {
    background-color: rgb(19, 11, 133);
}
#color-3 {
    background-color: rgb(75, 37, 47);
}
#color-4 {
    background-color: rgb(22, 158, 182);
}
#color-5 {
    background-color: rgb(104, 114, 11);
}