.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
    padding: 20px;
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
    margin: 30px;
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border: 5px solid black;
  }

  /* Exercicio - Para Fixar - 2 */

  .super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 130px;
    position: absolute;
    top: 380px;
    left: 40px;
  }
  
  .baloon {
    width: 300px;
    position: absolute;
    left: 250px;
    top: 150px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 270px;
    top: 190px;
    z-index: 2;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    top: 200px;
    left: 500px;
  }