@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.main-header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #A1AAA5;
    box-shadow: 10px 50px #A1AAA5;
    color: black;
}

.main-header-logo-trybe {
    width: 50%;
    padding-left: 200px;
}

.main-header-logo-trybe > img {
    width: 130px;
}

.main-header-navegation {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #11A36A;
}

#main-header-navegation-questions-a {
    color: black;
    font-size: 16px;
    font-weight: 600px;
}

.main-header-navegation-button {
    border: 2px solid #11A36A;
    border-radius: 5px;
    padding: 12px;
    background-color: transparent;
    color: #11A36A;
}

.first-section {
    width: 100%;
    height: 630px;
    background-image: url(./images/smiling-image.jpeg);
    background-position: 50% 25%;
    background-size: cover;
}
.first-section-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 300px;
    padding-top: 100px;
    text-align: left;
    font-size: 16px;
}

.first-section-texts-title {
    font-size: 45px;
    color: #0A7E51;
}

.first-section-texts-paragraph {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.first-section-button {
    margin-top: 30px;
    background-color: #11a36a;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700px;
    color: white;
    border: none;
    padding: 15px 25px 15px 25px;
}